<h1>書籍登録</h1>

<%= form_with url: books_path, local: true do |form| %>
  <p>
    <%= form.label :タイトル %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :価格 %><br>
    <%= form.text_field :price %>
  </p>

  <p>
    <%= form.label :画像 %><br>
    <%= form.file_field :image %>
  </p>

  <p>
    <%= form.label :発売日 %><br>
    <%= form.date_select :release_date %>
  </p>

  <p>
    <%= form.label :著者 %><br>
    <%= form.text_field :author %>
  </p>

  <p>
    <%= form.submit value: "登録" %>
  </p>
<% end %>
